
#mobile-navbar {
  display: none;
}

#window-navbar {
  display: flex;
}

a{
  cursor: pointer;
}

#next-button{
  display: none;
}

/* Media query for screens with a maximum width of 420px */
@media (max-width: 991px) {
  #mobile-navbar {
    display: flex;
    background-color: #f8f9fa;
  }

  #window-navbar {
    display: none;
  }

  #next-button{
    display: block;
  }
}
