table {
    border-collapse: collapse;    
    width: 100%;
    margin-top: 10px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  #mobile-navbar {
    display: none;
  }
  
  #window-navbar {
    display: flex;
  }

  a{
    cursor: pointer;
  }
  
  table{
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  /* Media query for screens with a maximum width of 420px */
  @media (max-width: 991px) {
    #mobile-navbar {
      display: flex;
      background-color: #f8f9fa;
    }
  
    #window-navbar {
      display: none;
    }

    #dataTable{
      width: 95%;
      margin-top: 20px;
      margin-left: auto;
    margin-right: auto;
    }
  }
  