table {
    border-collapse: collapse;    
    width: 100%;
    margin-top: 10px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  #mobile-navbar {
    display: none;
  }
  
  #window-navbar {
    display: flex;
  }

  a{
    cursor: pointer;
  }
  
  table{
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .table-container {
    width: 100%; /* Adjust the width as needed */
    overflow-x: auto; /* Enables horizontal scroll */
  }
  
  td {
    word-break: break-word; /* Breaks long words onto the next line */
    white-space: normal;    /* Ensures that the content wraps onto new lines */
  }

    #mobile-navbar {
      display: flex;
      background-color: #f8f9fa;
    }
  
    #window-navbar {
      display: none;
    }

    #dataTable{
      width: 95%;
      margin-top: 20px;
      margin-left: auto;
    margin-right: auto;
    }
  